@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"Font-Bold" ;
  src: url('/fonts/Font-Bold.otf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family:"Font-Light" ;
  src: url('/fonts/Font-Light.otf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"Font-Medium" ;
  src: url('/fonts/Font-Medium.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth !important;

}
body {
  color: rgb(var(--foreground-rgb)) !important;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

